{{ define "main" }}
   {{ partial "pageBanner.html" . }}

   <section id="about" class="lg:py-20 py-14">
      <div class="container">
         <div class="grid lg:grid-cols-1 grid-cols-1">
            
            {{ .Content }}

         </div>
      </div>
   </section>

   {{ partial "cta.html" . }}

   {{ partial "achievements.html" . }}

   {{ partial "teams.html" . }}

   <style>
      #about ul {
         margin-bottom: 20px;
         font-size: 1.25rem;
         line-height: 1.75rem;
         color: #231f20;
         list-style: inside;
      }
      #about p {
         font-size: 1.25rem;
         line-height: 1.75rem;
         color: rgb(35 31 32 / var(--tw-text-opacity, 1));
         font-weight: 400;
         margin-bottom: 0.75rem;
      }
   </style>
   
{{ end }}