{{ if .Params.Achievements.enable }}

<section class="lg:py-20 py-14 bg-Dark">
    <div class="container">
        <h2 class="lg:text-5xl text-3xl text-white font-medium leading-12 lg:mb-14 mb-5 text-center">
            {{ .Params.Achievements.Title }}
        </h2>
        <div class="grid lg:grid-cols-4 col-span-1">

            {{ range .Params.Achievements.stats }}

                <div class="text-center lg:py-0 py-10 border-b lg:border-transparent border-white">
                    <h2 class="lg:text-5xl text-4xl text-white font-medium leading-12">
                        {{ .value }}
                        <span class="text-4xl">+</span>
                    </h2>
                    <h3 class="lg:text-xl text-xl text-white font-medium">{{ .name }}</h3>
                </div>
            
            {{ end }}

        </div>
    </div>
</section>

{{ end }}