{{ if .Site.Language.Params.CTA.enable }}

<section class="lg:py-20 py-14 bg-Dark">
    <div class="container">
        <div class="max-w-3xl mx-auto text-center">
            <h2 class="lg:text-5xl text-3xl text-white font-medium leading-12 lg:mb-8 mb-5">
                {{ .Site.Language.Params.CTA.title }}
            </h2>
            <p class="lg:text-xl text-base text-white mb-4">
                {{ .Site.Language.Params.CTA.tagline }}
            </p>
            <p class="lg:text-xl text-base text-white mb-4">
                {{ .Site.Language.Params.CTA.content }}
            </p>
            <div class="flex justify-center" style="column-gap: 10px;">
                {{ $link1 := .Site.Language.Params.CTA.button1.link }}
                <a href="{{ $link1 | absLangURL }}" type="button"
                    class="text-white bg-primary hover:bg-Secondary font-medium text-sm px-5 py-2.5 transition ease-in-out block max-w-fit duration-300 mt-6 cursor-pointer">
                    {{ .Site.Language.Params.CTA.button1.text }}
                </a>

                {{ $link2 := .Site.Language.Params.CTA.button2.link }}
                <a href="{{ $link2 | absLangURL }}" type="button"
                    class="text-white bg-primary hover:bg-Secondary font-medium text-sm px-5 py-2.5 transition ease-in-out block max-w-fit  duration-300 mt-6 cursor-pointer">
                    {{ .Site.Language.Params.CTA.button2.text }}
                </a>
            </div>
        </div>
    </div>
</section>

{{ end }}