<!-----Footer Start----->
<footer class="p-4 {{ if .Params.isDark }} bg-Dark {{ end}}">
    <p class="{{ if .Params.isDark }} text-white {{else}} text-Dark {{ end}} text-base text-center font-light">© 2025 by {{ .Site.Title }} | 

        {{ $menuItems := .Site.Menus.footer }}
        {{ $total := len $menuItems }}

        {{ range $index, $menuItem := $menuItems }}
            <a href="{{ .URL | relLangURL }}" class="underline cursor-pointer">{{ .Name }}</a>
            {{ if lt $index (sub $total 1) }} | {{ end }}
        {{ end }}

    </p>
</footer>
    <!-----Footer End----->