<div class="bg-white border-b border-dark sticky top-0 w-full z-50">
    <!-----Being Header Start----->
    <header class="lg:px-8 px-4 py-4 max-w-screen-2xl mx-auto">
        <div class="flex justify-between items-center lg:relative">
            <a href="{{ $.Site.BaseURL }}{{ .Lang }}">
                <img src="{{site.Params.siteLogo}}" class="h-16" alt="site-logo">
            </a>

            <nav class="nav-list" id="toggle-menu">
                <ul class="flex lg:gap-10 lg:flex-row flex-col lg:items-center text-white text-[18px] leading-5 font-medium">
                    
                    {{ range .Site.Menus.main }}
                        <li>
                            <a href="{{ .URL | relLangURL }}"
                                class="relative lg:inline-block block lg:p-0 px-5 py-3 lg:border-0 border border-b-white lg:text-primary text-white lg:hover:text-primary hover:text-Secondary">
                                {{ .Name }}
                            </a>
                        </li>
                    {{ end }}


                    <li class="lg:absolute lg:right-0 lg:border-0 border border-b-white">
                        <div class="relative">
                            <button id="language-btn" onclick="toggleDropdown()" class="flex items-center lg:p-0 px-5 py-3 text-[18px] leading-5 lg:text-primary text-white">
                                🌍 {{ .Site.Language.LanguageName }}
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-2" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </button>


                            <!-- <ul id="language-menu" class="hidden absolute lg:-left-12 left-0 hidden bg-white text-Dark p-2 rounded-md shadow-md w-40">
                                {{ range .Site.Languages }}
                                <li>
                                    <a href="{{ $.Site.BaseURL }}{{ .Lang }}" class="flex items-center p-2 text-base hover:bg-gray-100">
                                        {{ if eq .Lang "en" }} 🇬🇧 English {{ else if eq .Lang "de" }} 🇩🇪 Deutsch {{ end }}
                                    </a>
                                </li>
                                {{ end }}
                            </ul> -->

                            <ul id="language-menu" class="hidden absolute lg:-left-12 left-0 hidden bg-white text-Dark p-2 rounded-md shadow-md w-40">
                                {{ range .Site.Languages }}
                                <li>
                                    <a href="" data-lang="{{ .Lang }}" class="flex items-center p-2 text-base hover:bg-gray-100">
                                        {{ if eq .Lang "en" }} 🇬🇧 English {{ else if eq .Lang "de" }} 🇩🇪 Deutsch {{ end }}
                                    </a>
                                </li>
                                {{ end }}
                            </ul>
                            


                        </div>
                    </li>
                </ul>
            </nav>


            <div class="lg:min-w-28 flex justify-end">
                <div id="mobile-menu" class="lg:hidden block cursor-pointer">
                    <span><img src="{{ "/assets/images/menu.svg" | relURL }}" alt="menu" class="menu-icon open image-nav"></span>
                    <span><img src="{{ "/assets/images/cross.svg" | relURL }}" alt="cross" class="menu-icon close image-nav"></span>
                </div>
            </div>
        </div>
    </header>
    <!-----Being Header End----->
</div>