{{ if .Params.Services.enable }}

<!-----Our Services Start----->
<section id="services" class="lg:py-20 py-14 {{ if .Params.Services.isHome }} bg-primary {{ end }}">
    <div class="container">
        <h2 class="lg:text-5xl text-3xl font-medium leading-12 text-center lg:mb-8 mb-5 {{ if .Params.Services.isHome }} text-white {{ else }} text-primary {{ end}}">
            {{ .Params.Services.title }} 
        </h2>
        <div class="grid grid-cols-12 gap-5">
            
            {{ $currentLang := .Site.Language.Lang }}
            {{ $services := where .Site.RegularPages "Section" "services" }}
            {{ $filteredServices := where $services "Lang" "eq" $currentLang }}

            {{ $count := .Params.Services.count | default 0 }}

            <!-- Custom sorting by 'order' -->
            {{ $sortedServices := sort $filteredServices "Params.order" "asc" }}

            {{ if and (gt $count 0) (gt (len $sortedServices) 0) }}
                {{ range $index, $service := first $count $sortedServices }}
                    <div class="lg:col-span-4 col-span-12 block p-6 border border-gray-100 rounded-lg shadow-md bg-gray-100">
                        <div class="flex flex-col justify-between h-full">
                            <div>
                                <span class="w-10 h-10 rounded-full bg-primary text-white text-base font-medium flex justify-center items-center mb-6">
                                    {{ add $index 1 }}
                                </span>
                                <h2 class="mb-4 text-2xl font-bold tracking-tight text-primary capitalize">
                                    {{ .Title }}
                                </h2>
                                <p class=" mb-4 lg:text-xl text-base text-Dark font-medium">
                                    {{ .Params.tagline }}
                                </p>
                                <p class="lg:text-lg text-base font-normal text-Dark mb-5">
                                    {{ .Params.content | default "No description available." }}
                                </p>
                            </div>

                            <a href="{{ .RelPermalink }}" type="button"
                            class="text-white bg-primary hover:bg-Dark font-medium text-sm px-5 py-2.5 transition ease-in-out duration-300 max-w-fit cursor-pointer">
                                Read More
                            </a>
                        </div>
                    </div>
                {{ end }}
            {{ else }}
                {{ range $index, $service := $sortedServices }}
                    <div class="lg:col-span-4 col-span-12 block p-6 border border-gray-100 rounded-lg shadow-md bg-gray-100">
                        <div class="flex flex-col justify-between h-full">
                            <div>
                                <span class="w-10 h-10 rounded-full bg-primary text-white text-base font-medium flex justify-center items-center mb-6">
                                    {{ add $index 1 }}
                                </span>
                                <h2 class="mb-4 text-2xl font-bold tracking-tight text-primary capitalize">
                                    {{ .Title }}
                                </h2>
                                <p class=" mb-4 lg:text-xl text-base text-Dark font-medium">
                                    {{ .Params.tagline }}
                                </p>
                                <p class="lg:text-xl text-base font-normal text-Dark mb-5">
                                    {{ .Params.content | default "No description available." }}
                                </p>
                            </div>

                            <a href="{{ .RelPermalink }}" type="button"
                            class="text-white bg-primary hover:bg-Dark font-medium text-sm px-5 py-2.5 transition ease-in-out duration-300 max-w-fit cursor-pointer">
                                Read More
                            </a>
                        </div>
                    </div>
                {{ end }}
            {{ end }}

        </div>



        {{ if .Params.Services.button }}

            <div class="flex justify-center lg:mt-16 mt-12">
                <a href="{{ "services" | absLangURL }}" type="button"
                class="text-white font-medium text-sm px-5 py-2.5 border border-white transition ease-in-out duration-300 hover:bg-Secondary hover:border-Secondary max-w-fit block cursor-pointer">
                {{ .Params.Services.button.text }}
                </a>
            </div>

        {{ end }}

    </div>
</section>
<!-----Our Services End----->

{{ end }}